doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio website for Domen Hribernik, showcasing projects and contact information.')
        meta(name='author', content='Domen Hribernik')

        title Domen Hribernik

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Preloader
        div#loading-overlay
            .loading-spinner
        
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top(role='navigation')
            .container.px-4.px-lg-5
                a.navbar-brand#logo(href='../#page-top', aria-label='Domen Hribernik') Domen Hribernik 
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='../#about' aria-label='About' )
                                span.lang-eng About
                                span.lang-slo O Meni
                        li.nav-item
                            a.nav-link(href='../#projects' aria-label='Projects') 
                                span.lang-eng Projects
                                span.lang-slo Projekti
                        li.nav-item
                            a.nav-link(href='../#contact' aria-label='Contact') 
                                span.lang-eng Contact
                                span.lang-slo Kontakt
                    .language-switch
                        .switch-text
                            span.eng-text.active ENG
                            span.slo-text SLO
                        input#langToggle(type='checkbox')
                        span.slider
        // Thesis
        section#projects.projects-section.thesis-section
            h1.mx-auto.my-0.text-center.mb-4 Virtual Runner
            .container.px-4.px-lg-5
                // Featured Project Row
                .row.gx-0.mb-4.mb-lg-5.align-items-center
                    .col-xl-7.col-lg-6
                        video.img-fluid(src='assets/video/run.mp4', autoplay, loop, muted, playsinline)
                    .col-xl-5.col-lg-6
                        .featured-text-thesis.text-center.text-lg-left
                            div.mb-0
                                span.lang-eng
                                    p The project focuses on creating a digital twin of a runner. The thesis integrates multiple subprojects into a unified application to demonstrate the practical use of various technologies. The project consists of:
                                    ul.text-left.mt-1
                                        li Web Application (React, Node, MongoDB), 
                                        li Desktop Application for Data Processing (Kotlin), 
                                        li Mobile Application for Data Collection (Kotlin), 
                                        li Custom Programming Language for Visualization in GeoJSON (Kotlin), 
                                        li Blockchain Multithread Application with MPI (Python),
                                        li AI Application for Pattern Recognition (Python), 
                                        li Video Game (libGDX - Java), 
                                        li Continuous Integration and Continuous Deployment.
                                span.lang-slo
                                    p Projekt se osredotoča na izdelavo digitalnega dvojčka tekača. Diplomska naloga združuje več podprojektov v enotno aplikacijo, ki prikazuje praktično uporabo različnih tehnologij. Projekt vsebuje podprojekte:
                                    ul.text-left.mt-1
                                        li Spletna stran (React, Node.js, MongoDB), 
                                        li Namizna Aplikacija za Obdelavo Podatkov (Kotlin), 
                                        li Mobilna Aplikacija za Zajem Podatkov (Kotlin), 
                                        li Lasten Programski Jezik za Vizualizacijo v GeoJSON (Kotlin), 
                                        li Blockchain Multithread Aplikacija z MPI (Python),
                                        li AI Aplikacija za Prepoznavo Vzorcev (Python), 
                                        li Računalniška Igra (libGDX - Java), 
                                        li Continuous Integration and Continuous Deployment.

            .container.px-4.px-lg-5
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-12
                        .bg-black.text-center.h-100.project(style='border-radius: 10px;') 
                            .h-flex.h-100
                                h2.text-center.lang-eng Accredited curriculum
                                h2.text-center.lang-slo Akreditiran predmetnik
                                mixin flipCard(image, customClass, title, description)
                                     .flip-card(class=customClass)
                                         .flip-card-inner
                                             .flip-card-front(style=`background-image: url("../assets/img/${image}");`)
                                                 h3 #{title}
                                             .flip-card-back
                                                 p #{description}
                                div.grid
                                    +flipCard('8.png' ,'lang-eng', 'Web Application Development', 'Description')
                                    +flipCard('7.png' ,'lang-eng', 'System Administration', 'Description')
                                    +flipCard('6.png' ,'lang-eng', 'Compiling Programming Languages', 'Description')
                                    +flipCard('5.png' ,'lang-eng', 'Principles of Programming Languages', 'Description')
                                    +flipCard('4.png' ,'lang-eng', 'Introduction to Computer Vision and Pattern Recognition', 'Description')
                                    +flipCard('3.png' ,'lang-eng', 'Parallel and Distrubited Computing', 'Description')
                                    +flipCard('2.png' ,'lang-eng', 'Platform-Based Application Development', 'Description')
                                    +flipCard('1.png' ,'lang-eng', 'Game Development', 'Description')

                                    +flipCard('8.png', 'lang-slo', 'Spletno Programiranje', 'Opis')
                                    +flipCard('7.png', 'lang-slo', 'Sistemska Administracija', 'Opis')
                                    +flipCard('6.png', 'lang-slo', 'Prevajanje Programskih Jezikov', 'Opis')
                                    +flipCard('5.png', 'lang-slo', 'Principi Programskih Jezikov', 'Opis')
                                    +flipCard('4.png', 'lang-slo', 'Uvod v Razpozvavanje Vzorcev in Računalniški Vid', 'Opis')
                                    +flipCard('3.png', 'lang-slo', 'Paralelno in Porazdeljeno Računanje', 'Opis')
                                    +flipCard('2.png', 'lang-slo', 'Platformno Odvisen Razvoj Aplikacij', 'Opis')
                                    +flipCard('1.png', 'lang-slo', 'Razvoj Računalniških Iger', 'Opis')
        
        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Copyright &copy; Domen Hribernik <span id="currentYear"></span>
        
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js' defer)

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')